            h1 {
                color:red
            }

            img {
                width: 400px;
            }

            #thirdDiv {
                height: 600px;
                width: 500;
                background-color: blue;
                padding: 50px;
                border: 8px solid chartreuse;
            }

            #spanId {
                font-size: 18px;
                margin: 50px;
            }